<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        img{height: 200px; width: auto;}
    </style>
</head>
<body>
    <h1>Welcome to hi but in flask</h1>
    <form method="POST">
        <label for="name">enter your username</label> 
        <input type="text" name="name" placeholder="What is your name:"> 
        <br>
         <input type="submit" value="Submit"> 
    </form>
    <img src="https://img.freepik.com/free-photo/sunset-time-tropical-beach-sea-with-coconut-palm-tree_74190-1075.jpg?semt=ais_hybrid&w=740&q=80">
</body>
</html>